{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="col-lg-9" >
        <h1>Liste des fonctions publique</h1>
        <div class="clearfix">
            <a class="btn button pull-right margin10" href="{{ path('reffonctionpublique_new') }}">Ajouter une donnée au référentiel</a>
            <a class="btn button pull-right margin10" href="{{ path('csv_export_reffonctionpublique') }}">export csv</a>
            <a class="btn button margin10" href="{{ path('referenciel_homepage') }}">Retour à la liste des référentiels</a>
        </div>
        <table class="table table-striped" id="index">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Libellé</th>
                    <th>Archivé</th>
                    {% include '@Referenciel/indexListRefSharedFieldsTheadLayout.html.twig' %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for refFonctionPublique in refFonctionPubliques %}
                    <tr>
                        <td><a href="{{ path('reffonctionpublique_show', { 'idFoncpubl': refFonctionPublique.idFoncpubl }) }}">{{ refFonctionPublique.cdFoncpubl }}</a></td>
                        <td>{{ refFonctionPublique.lbFoncpubl }}</td>
                        <td>{% if refFonctionPublique.blVali %}Oui{% else %}Non{% endif %}</td>
                        {% include '@Referenciel/indexListRefSharedFieldsTbodyLayout.html.twig' with {'ref':refFonctionPublique} %}
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('reffonctionpublique_show', { 'idFoncpubl': refFonctionPublique.idFoncpubl }) }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="{{ path('reffonctionpublique_edit', { 'idFoncpubl': refFonctionPublique.idFoncpubl }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
