{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="col-lg-9" >
        <div class='clearfix margin10'>
            <a class="btn button pull-right" href="{{ path('refstructureorigine_index') }}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Retour à la liste</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Structure d'origine</h3>
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn button pull-right margin10" type="submit" value="Créer" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}