{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="col-lg-9" >
        <a class="btn button pull-right margin10" href="{{ path('refmotifgreve_index') }}">Retour à la liste</a>

        <table class="table table-striped"
               <tbody>
                <tr>
                    <th>Code</th>
                    <td>{{ refMotifGreve.cdMotigrev }}</td>
                </tr>
                <tr>
                    <th>Libellé</th>
                    <td>{{ refMotifGreve.lbMotigrev }}</td>
                </tr>
                <tr>
                    <th>Archivé</th>
                    <td>{% if refMotifGreve.blVali %}Oui{% else %}Non{% endif %}</td>
                </tr>
                {% include '@Referenciel/showRefSharedFieldsLayout.html.twig' with {'ref':refMotifGreve} %}
            </tbody>
        </table>


        <a class="btn button pull-right margin10" href="{{ path('refmotifgreve_edit', { 'idMotigrev': refMotifGreve.idMotigrev }) }}">Modifier</a>

        {{ form_start(delete_form) }}
        
        {{ form_end(delete_form) }}



        </ul>
    {% endblock %}


