{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="col-lg-9">
        <a class="btn button pull-right margin10" href="{{ path('refmetier_index') }}">Retour à la liste</a>

        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Cdstat</th>
                <td>{{ refNatureMAJ.cdStat }}</td>
            </tr>
            <tr>
                <th>Lbnaturemaj</th>
                <td>{{ refNatureMAJ.lbNatureMAJ }}</td>
            </tr>
            <tr>
                <th>Archivé</th>
                <td>{% if refNatureMAJ.blVali %}Oui{% else %}Non{% endif %}</td>
            </tr>
            {% include '@Referenciel/showRefSharedFieldsLayout.html.twig' with {'ref':refNatureMAJ} %}
            </tbody>
        </table>

        <a class="btn button pull-right margin10"
           href="{{ path('refnaturemaj_edit', { 'idNatureMAJ': refNatureMAJ.idNatureMAJ }) }}">Modifier</a>

    </div>
{% endblock %}

