{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="col-lg-9" >
        <h1>Liste des avancements, promotions, et concours</h1>
        <div class="clearfix">
            <a class="btn button pull-right margin10" href="{{ path('refavancementpromotionconcours_new') }}">Ajouter une donnée au référentiel</a>
            <a class="btn button pull-right margin10" href="{{ path('csv_export_refavancementpromotionconcours') }}">export csv</a>
            <a class="btn button margin10" href="{{ path('referenciel_homepage') }}">Retour à la liste des référentiels</a>
        </div>
        <table id="index" class="table table-striped">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>libellé</th>
                    <th>Archivé</th>
                    {% include '@Referenciel/indexListRefSharedFieldsTheadLayout.html.twig' %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for refAvancementPromotionConcour in refAvancementPromotionConcours %}
                    <tr>
                        <td><a href="{{ path('refavancementpromotionconcours_show', { 'idAvanpromconc': refAvancementPromotionConcour.idAvanpromconc }) }}">{{ refAvancementPromotionConcour.cdAvanpromconc }}</a></td>
                        <td>{{ refAvancementPromotionConcour.lbAvanpromconc }}</td>
                        <td>{% if refAvancementPromotionConcour.blVali %}Oui{% else %}Non{% endif %}</td>
                        {% include '@Referenciel/indexListRefSharedFieldsTbodyLayout.html.twig' with {'ref':refAvancementPromotionConcour} %}
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('refavancementpromotionconcours_show', { 'idAvanpromconc': refAvancementPromotionConcour.idAvanpromconc }) }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="{{ path('refavancementpromotionconcours_edit', { 'idAvanpromconc': refAvancementPromotionConcour.idAvanpromconc }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
