{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="col-lg-9" >
        <a class="btn button pull-right margin10" href="{{ path('refcategorie_index') }}">Retour à la liste</a>

        <table class="table table-striped">
               <tbody>
                <tr>
                    <th>Code</th>
                    <td>{{ refCategorie.cdCate }}</td>
                </tr>
                <tr>
                    <th>Libellé</th>
                    <td>{{ refCategorie.lbCate }}</td>
                </tr>
                <tr>
                    <th>Archivé</th>
                    <td>{% if refCategorie.blVali %}Oui{% else %}Non{% endif %}</td>
                </tr>
                {% include '@Referenciel/showRefSharedFieldsLayout.html.twig' with {'ref':refCategorie} %}
            </tbody>
        </table>


        <a class="btn button pull-right margin10" href="{{ path('refcategorie_edit', { 'idCate': refCategorie.idCate }) }}">Modifier</a>

        {{ form_start(delete_form) }}
        
        {{ form_end(delete_form) }}

    </div>
{% endblock %}

