{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="col-lg-9" >
        <a class="btn button pull-right margin10" href="{{ path('refemploifonctionnel_index') }}">Retour à la liste</a>

        <table class="table table-striped"
               <tbody>
                <tr>
                    <th>Code</th>
                    <td>{{ refEmploiFonctionnel.cdEmplfonc }}</td>
                </tr>
                <tr>
                    <th>Libellé</th>
                    <td>{{ refEmploiFonctionnel.lbEmplfonc }}</td>
                </tr>
                <tr>
                    <th>Archivé</th>
                    <td>{% if refEmploiFonctionnel.blVali %}Oui{% else %}Non{% endif %}</td>
                </tr>
                {% include '@Referenciel/showRefSharedFieldsLayout.html.twig' with {'ref':refEmploiFonctionnel} %}
            </tbody>
        </table>


        <a class="btn button pull-right margin10" href="{{ path('refemploifonctionnel_edit', { 'idEmplfonc': refEmploiFonctionnel.idEmplfonc }) }}">Modifier</a>

        {{ form_start(delete_form) }}
        
        {{ form_end(delete_form) }}

    </div>
{% endblock %}
