{% extends '@User/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/utilisateurs.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/UserBundle/User.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <h2 class="form-reset-heading identification-center">Réinitialisation du mot de passe</h2>
        <div id="errorPsw" class="alert alert-danger fade in">
            <p>Votre mot de passe doit contenir : </p>
            <ul>
                <li>au minimum 8 caractères</li>
                <li>différents types de caractères (Majuscules, minuscules, chiffres et caractères spéciaux)</li>
            </ul>
        </div>
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="progress">
                <div class="progress-bar progress-bar-danger" id="password-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                    <span class="sr-only">0% Complete (danger)</span>
                    <span id="progress-bar-text" style="color:#000;"></span>
                </div>
            </div>
        </div>
        <div class="form-reset">
            <button type="submit" class="btn btn-lg btn-block button-tableau" id='btn-reset-psw'>Réinitialiser</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}