{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="col-lg-9" >
        <a class="btn button pull-right margin10" href="{{ path('refmotifsanctiondisciplinaire_index') }}">Retour à la liste</a>


        <table class="table table-striped"
               <tbody>
                <tr>
                    <th>Code</th>
                    <td>{{ refMotifSanctionDisciplinaire.cdMotiSancdisc }}</td>
                </tr>
                <tr>
                    <th>libellé</th>
                    <td>{{ refMotifSanctionDisciplinaire.lbMotiSancdisc }}</td>
                </tr>

                <tr>
                    <th>Archivé</th>
                    <td>{% if refMotifSanctionDisciplinaire.blVali %}Oui{% else %}Non{% endif %}</td>
                </tr>
                {% include '@Referenciel/showRefSharedFieldsLayout.html.twig' with {'ref':refMotifSanctionDisciplinaire} %}
            </tbody>
        </table>


        <a class="btn button pull-right margin10" href="{{ path('refmotifsanctiondisciplinaire_edit', { 'idMotiSancdisc': refMotifSanctionDisciplinaire.idMotiSancdisc }) }}">Modifier</a>

        {{ form_start(delete_form) }}
        
        {{ form_end(delete_form) }}



    {% endblock %}


