{% extends '@Core/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/utilisateurs.css') }}">
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/UserBundle/utilisateur.js') }}"></script>
    <script src="{{ asset('node_modules/bootstrap-slider/dist/bootstrap-slider.js') }}"></script>
    <script>
            $('.toggle-bs').bootstrapToggle({
                on: 'Oui',
                off: 'Non'
            });

            {% if is_granted('ROLE_INFOCENTRE') %}
                $('.select_all_fellow_checkbox_departement').attr('disabled', 'disabled');
            {% endif %}
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="col-xs-9">
        <div>
            <ol class="breadcrumb">
                <li><a href="#">Comptes utilisateur</a></li>
                <li class="active">Fiche utilisateur</li>
            </ol>
        </div>
        <h1>Fiche utilisateur infocentre</h1>
        <input type="hidden" id="action-utilisateur" value="{% if app.request.get('id') == null %}ajouter{% else %}modifier{% endif %}">
        <input type="hidden" id="id-utilisateur" value="{% if app.request.get('id') != null %}{{ app.request.get('id') }}{% endif %}">
        {% if app.session.flashBag.has('notice') %}
            <div class="alert alert-success fade in" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for msg in app.session.flashBag.get('notice') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            <div class="alert alert-danger fade in" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for msg in app.session.flashBag.get('error') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        
        {% if editForm is defined %}
            {{ form_start(editForm) }}
            {% if is_granted("ROLE_ADMIN") %}
                <div>
                    {{ form_row(editForm.profils) }}
                </div>
            {% endif %}
            {{ form_row(editForm.username) }}
            {{ form_row(editForm.email) }}
            <div id="errorPsw" class="alert alert-danger fade in">
                <p>Votre mot de passe doit contenir : </p>
                <ul>
                    <li>au minimum 8 caractères</li>
                    <li>différents types de caractères (Majuscules, minuscules, chiffres et caractères spéciaux)</li>
                </ul>
            </div>
            {{ form_row(editForm.password) }}
            <div class="form-group">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" id="password-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                        <span class="sr-only">0% Complete (danger)</span>
                        <span id="progress-bar-text" style="color:#000;"></span>
                    </div>
                </div>
            </div>

             <div class='row form-cdg'>
                <div class='col-sm-5' style="padding-top: 15px;">
                    <label>Autoriser le CDG à accéder aux modèles de mail ?</label>
                </div>
                <div class='col-sm-7'>
                    {{ form_row(editForm.droitMails) }}
                </div>
            </div>

            <div>
                <div id='user_departments_workflow_wrapper'>
                    <div id='filter_departements_form_receiver'>
                        <label class='select_all_label box_border_tinyround box_border_slim'>
                            <input type="checkbox" class='select_all_fellow_checkbox_departement' />
                            Tout cocher
                        </label>
                       {{ form_widget(editForm.departements) }} 
                    </div>
                </div>

                {{ form_row(editForm.campagnes) }}
            </div> 

            <button type="submit" class="btn button-tableau" id="submit-fiche">Modifier</button>
            {{ form_end(editForm) }}
        {% endif %}
    </div>

    {# {{ form_start(editForm) }}
        {{ form_widget(editForm) }}
        <input type="submit" value="Valider" />
    {{ form_end(editForm) }} #}

{% endblock %}