{% extends '@Faq/layout.html.twig' %}


{% block body %}
    {{ parent() }}
{#    <span id="helppdf" data-toggle="modal" data-target="#exampleModal">Aide PDF</span>#}
    <div class="col-xs-9">
        {% if app.session.flashBag.has('notice') %}
            <div class="alert alert-success fade in" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for msg in app.session.flashBag.get('notice') %}
                    {{ msg }}<br/>
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            <div class="alert alert-danger fade in" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for msg in app.session.flashBag.get('error') %}
                    {{ msg }}<br/>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <h1>Foire aux questions</h1>
            </div>
            <div class="col-xs-12 flex">
            
                <div class="text-center"> 
                    <a target="_blank" href="{{ asset("FAQ/guide_utilisateur.pdf") }}"> <img data-toggle="tooltip" data-placement="bottom" title="Guide utilisateur" class="pull-left img-pdf" src="{{ asset("img/icone/logo_guide_utilisateur.jpg") }}"/><p>Télécharger la FAQ</p> </a>
                </div>
                
                    
                <div >
                     <div class="input-group">
                         <div class="form-group search-panel">
                             <form class="navbar-form navbar-left" method="POST" action="{{ path('faq_search_client') }}">
                                 <div class="form-group">
                                     <select name="filter" class="form-control" id="searchSelect">
                                         <option value="0">Filtrer par</option>
                                         <option value="1">Contient</option>
                                         <option value="2">est égal</option>
                                     </select>
                                     <input name="value" id="inputSearch" type="text" class="form-control" placeholder="Recherche">
                                 </div>
                                 <button type="submit" class="btn btn-default">Filtrer</button>
                             </form>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% if (noResult == 1) %}
            <h2>Résultat de votre recherche :</h2>
        {% endif %}
        {% if (tableau is empty and noResult != 2) %}
            <div class="alert alert-danger fade in" role="alert">
                Aucune question n'a été créée.
            </div>
        {% endif %}
        {% for categorie, faqs in tableau%}
            <h2>{{ categorie}}</h2>
            {% for faqs in faqs%}
                <div class="panel-group" id="{{ categorie }}">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <a class="readFaq" data-toggle="collapse" data-parent="#{{ categorie|replace({' ':''}) }}" href="#{{ categorie|replace({' ':''})  ~ loop.index }}">
                                <h4 class="panel-title">
                                    {{faqs.question}}
                                    <span class="buttonplus" title="Agrandir" ></span>
                                </h4>
                            </a>
                        </div>
                        <div id="{{ categorie|replace({' ':''}) ~ loop.index }}" class="panel-collapse collapse">
                            <div class="panel-body">{{faqs.reponse|raw}}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}