{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="col-lg-9" >
        <div class='clearfix margin10'>
            <a class="btn button pull-right" href="{{ path('refpositionstatutaire_index') }}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Retour à la liste</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Modification position statutaire</h3>
            </div>
            <div class="panel-body">
                {{ form_start(edit_form) }}
                {{ form_row(edit_form.cdPosistat , {'attr': {'readonly': 'true' }}) }}
                {{ form_row(edit_form.lbPosistat) }}
                {{ form_row(edit_form.lbCompl ) }}
                {{ form_row(edit_form.lbComm ) }}
                {{ form_row(edit_form.refGroupePositionStatutaire ) }}
                {{ form_row(edit_form.statutPositionStatutaires ) }}
                {{ form_row(edit_form.blCdg ) }}
                {{ form_row(edit_form.blInd142 ) }}
                {{ form_row(edit_form.blInd143 ) }}
                {{ form_row(edit_form.blInd144 ) }}
                {{ form_row(edit_form.cdMotiN4ds ) }}
                {{ form_row(edit_form.blVali ) }}
                {{ form_rest(edit_form) }}
                <input class="btn button pull-right margin10" type="submit" value="Modifier" />
                {{ form_end(edit_form) }}

                {{ form_start(delete_form) }}
                
                {{ form_end(delete_form) }}







            </div>
        </div>
    </div>
{% endblock %}
