{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="col-lg-9" >
        <h1>Liste positions statutaire </h1>
        <div class="clearfix">
            <a class="btn button pull-right margin10" href="{{ path('refpositionstatutaire_new') }}">Ajouter une donnée au référentiel</a>
            <a class="btn button pull-right margin10" href="{{ path('csv_export_refpositionstatutaire') }}">export csv</a>
            <a class="btn button margin10" href="{{ path('referenciel_homepage') }}">Retour à la liste des référentiels</a>
        </div>
        <table class="table table-striped" id="index">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Libellé</th>
                    <th>Libellé complémentaire</th>
                    <th>Commentaire</th>
                    <th>Groupe</th>
                    <th>Statut</th>
                    <th>Réservé CDG</th>
                    <th>Indicateur 1.4.2</th>
                    <th>Indicateur 1.4.3</th>
                    <th>Indicateur 1.4.4</th>
                    <th>Code N4DS</th>
                    <th>Archivé</th>
                    {% include '@Referenciel/indexListRefSharedFieldsTheadLayout.html.twig' %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for refPositionStatutaire in refPositionStatutaires %}
                    <tr>
                        <td><a href="{{ path('refpositionstatutaire_show', { 'idPosistat': refPositionStatutaire.idPosistat }) }}">{{ refPositionStatutaire.cdPosistat }}</a></td>
                        <td>{{ refPositionStatutaire.lbPosistat }}</td>
                        <td>{{ refPositionStatutaire.lbCompl }}</td>
                        <td>{{ refPositionStatutaire.lbComm }}</td>
                        <td>
                            {% if refPositionStatutaire.refGroupePositionStatutaire %}
                                {{ refPositionStatutaire.refGroupePositionStatutaire.lbGrouPosistat }}
                            {% endif %}
                        </td>
                        <td>
                            {% for statut in refPositionStatutaire.statutPositionStatutaires %}
                                - {{ statut.lbStat }}
                            {% endfor %}
                        </td>
                        <td>{% if refPositionStatutaire.blCdg %}Oui{% else %}Non{% endif %}</td>
                        <td>{% if refPositionStatutaire.blInd142 %}Oui{% else %}Non{% endif %}</td>
                        <td>{% if refPositionStatutaire.blInd143 %}Oui{% else %}Non{% endif %}</td>
                        <td>{% if refPositionStatutaire.blInd144 %}Oui{% else %}Non{% endif %}</td>
                        <td>{{ refPositionStatutaire.cdMotiN4ds}}</td>

                        <td>{% if refPositionStatutaire.blVali %}Oui{% else %}Non{% endif %}</td>
                        {% include '@Referenciel/indexListRefSharedFieldsTbodyLayout.html.twig' with {'ref':refPositionStatutaire} %}
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('refpositionstatutaire_show', { 'idPosistat': refPositionStatutaire.idPosistat }) }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="{{ path('refpositionstatutaire_edit', { 'idPosistat': refPositionStatutaire.idPosistat }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

