{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="col-lg-9" >
        <a class="btn button pull-right margin10" href="{{ path('refactionprevention_index') }}">Retour à la liste</a>

        <table class="table table-striped"
               <tbody>
                <tr>
                    <th>Code</th>
                    <td>{{ refActionPrevention.cdActionprev }}</td>
                </tr>
                <tr>
                    <th>Libellé</th>
                    <td>{{ refActionPrevention.lbActionprev }}</td>
                </tr>
              {#  <tr>
                    <th>Code N4DS</th>
                    <td>{{ refActionPrevention.cdMotiN4ds }}</td>
                </tr>#}
                <tr>
                    <th>Archivé</th>
                    <td>{% if refActionPrevention.blVali %}Oui{% else %}Non{% endif %}</td>
                </tr>
                {% include '@Referenciel/showRefSharedFieldsLayout.html.twig' with {'ref':refActionPrevention} %}
            </tbody>
        </table>


        <a class="btn button pull-right margin10" href="{{ path('refactionprevention_edit', { 'idActionprev': refActionPrevention.idActionprev }) }}">Modifier</a>

        {{ form_start(delete_form) }}
        
        {{ form_end(delete_form) }}



        </ul>
    {% endblock %}
