{% extends '@Core/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/CollectiviteBundle/cdg.js') }}"></script>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="col-xs-9">
        {% if app.session.flashBag.has('notice') %}
            <div class="alert alert-success fade in" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for msg in app.session.flashBag.get('notice') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            <div class="alert alert-danger fade in" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for msg in app.session.flashBag.get('error') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="noMargin">Message de réinitialisation du mot de passe</h3>
            </div>
            <div class="panel-body">
                <div>
                    <p>Ce message s'affiche lorsqu'une collectivité souhaite réinitialiser son mot de passe, uniquement si son CDG n'a paramétré aucun message. Si elle n'a pas accès à sa boite mail, elle pourra suivre ces instructions pour le modifier.</p>
                    <p>Par défaut, si aucun message n'est renseigné, le texte ci-dessous sera affiché : </p>
                    <p>"Vous n'avez pas défini d'adresse email. Merci de vous rapprocher de votre centre de gestion pour qu'il vous transmette vos informations de connexion".</p>
                </div>
                <hr>
                {% if form is defined %}
                    {{ form_start(form) }}
                    {{ form_row(form.cmMessPass) }}
                    <button type='submit' class='btn button-tableau pull-right'>Enregistrer</button>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %} 