{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="col-lg-9" >
        <h1>Liste pourcentages de temps partiel </h1>
        <div class="clearfix">
            <a class="btn button pull-right margin10" href="{{ path('refpourcentagetempapartiel_new') }}">Ajouter une donnée au référentiel</a>
            <a class="btn button pull-right margin10" href="{{ path('csv_export_refpourcentagetempapartiel') }}">export csv</a>
            <a class="btn button margin10" href="{{ path('referenciel_homepage') }}">Retour à la liste des référentiels</a>
        </div>
        <table class="table table-striped" id="index">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Libellé</th>
                    <th>Nombre minutes borne min</th>
                    <th>Nombre minutes borne max</th>
                    <th>Archivé</th>
                    {% include '@Referenciel/indexListRefSharedFieldsTheadLayout.html.twig' %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for refPourcentageTempaPartiel in refPourcentageTempaPartiels %}
                    <tr>
                        <td><a href="{{ path('refpourcentagetempapartiel_show', { 'idPourtemppart': refPourcentageTempaPartiel.idPourtemppart }) }}">{{ refPourcentageTempaPartiel.cdPourtemppart }}</a></td>
                        <td>{{ refPourcentageTempaPartiel.lbPourtemppart }}</td>
                        <td>{{ refPourcentageTempaPartiel.pcBorneMin }}</td>
                        <td>{{ refPourcentageTempaPartiel.pcBorneMax }}</td>
                        <td>{% if refPourcentageTempaPartiel.blVali %}Oui{% else %}Non{% endif %}</td>
                        {% include '@Referenciel/indexListRefSharedFieldsTbodyLayout.html.twig' with {'ref':refPourcentageTempaPartiel} %}
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('refpourcentagetempapartiel_show', { 'idPourtemppart': refPourcentageTempaPartiel.idPourtemppart }) }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="{{ path('refpourcentagetempapartiel_edit', { 'idPourtemppart': refPourcentageTempaPartiel.idPourtemppart }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

