{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="col-lg-9" >
        <h1>Liste des motifs d'absence</h1>
        <div class="clearfix">
            <a class="btn button pull-right margin10" href="{{ path('refmotifabsence_new') }}">Ajouter une donnée au référentiel</a>
            <a class="btn button pull-right margin10" href="{{ path('csv_export_refmotifabsence') }}">export csv</a>
            <a class="btn button margin10" href="{{ path('referenciel_homepage') }}">Retour à la liste des référentiels</a>
        </div>
        <table class="table table-striped" id="index">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Libellé</th>
                    <th>Absence compensatoire</th>
                    <th>Absence médicale</th>
                    <th>Autre raison d'absence</th>
                    <th>Archivé</th>
                    {% include '@Referenciel/indexListRefSharedFieldsTheadLayout.html.twig' %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for refMotifAbsence in refMotifAbsences %}
                    <tr>
                        <td><a href="{{ path('refmotifabsence_show', { 'idMotiabse': refMotifAbsence.idMotiabse }) }}">{{ refMotifAbsence.cdMotiabse }}</a></td>
                        <td>{{ refMotifAbsence.lbMotiabse }}</td>
                        <td>{% if refMotifAbsence.blAbsecomp %}Oui{% else %}Non{% endif %}</td>
                        <td>{% if refMotifAbsence.blAbsemedi %}Oui{% else %}Non{% endif %}</td>
                        <td>{% if refMotifAbsence.blAbseautrrais %}Oui{% else %}Non{% endif %}</td>
                        <td>{% if refMotifAbsence.blVali %}Oui{% else %}Non{% endif %}</td>
                        {% include '@Referenciel/indexListRefSharedFieldsTbodyLayout.html.twig' with {'ref':refMotifAbsence} %}
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('refmotifabsence_show', { 'idMotiabse': refMotifAbsence.idMotiabse }) }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="{{ path('refmotifabsence_edit', { 'idMotiabse': refMotifAbsence.idMotiabse }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

