    {% set campagne = campagne_service.GetCurrentCampagne() %}
    {% set AnneeCamp = '' %}
    {% if campagne is not null %}
        {% set AnneeCamp = campagne.nmAnne %}
    {% endif %}

    {% if formFormation512 is defined %}
        {% set bilan_social_consolide = formFormation512.vars.data %}

        {% if indicateur_precedent is defined and indicateur_precedent is not null %}
            {{ include('ConsoBundle:BilanSocialConsolide:modals_ind_precedents/btn_modal.html.twig', { 'indicateur_precedent': indicateur_precedent['ind_5121'], 'name' : 512 }) }}
            {{ include('ConsoBundle:BilanSocialConsolide:modals_ind_precedents/modal_512.html.twig', { 'indicateur_precedent': indicateur_precedent }) }}
        {% endif %}


        {{ form_start(formFormation512) }}

        <h5>5.1.2 (1) - Nombre d'agents sur un emploi non permanent présents au 31/12/{{AnneeCamp}} et ayant participé à au moins une formation en {{AnneeCamp}}</h5>

        Précision : un agent ayant suivi plusieurs formations ne doit être saisi qu'une fois.<br/>

        <table width="100%" id="ind5122Table" class="table table-striped table-hover table-bordered">
            <thead>
                <tr entete="1">
                    <th rowspan="2"></th>
                    <th style="text-align: center" colspan="2">Nombre d'agents sur un emploi non permanent présents au 31/12/{{AnneeCamp}} et ayant participé à au moins une formation en {{AnneeCamp}}</th>
                    <th class="filiTable" style="text-align: center" rowspan="2">Total</th>
                </tr>

                <tr entete="1">
                    <th>Hommes
                        <br/>
                        <span class="alerteConso">[1.3.1] = {{ nbH }}</span>
                    </th>
                    <th>Femmes
                        <br/>
                        <span class="alerteConso">[1.3.1] = {{ nbF }}</span>
                    </th>
                </tr>

            </thead>
            <tbody class="ind_table_totaux">

            {% for tag in formFormation512.ind5122s %}
                {% set row_data = tag.vars.value %}
                {% set total_hf= row_data.r51221 + row_data.r51222 %}
                <tr id="5122idTr_{{tag.refEmploiNonPermanent.vars.value}}">
                    <td style="min-width: 200px; text-align: center">
                        {{ form_widget(tag.refEmploiNonPermanent) }}
                        {{ tag.refEmploiNonPermanent.vars.data.lbEmplnonperm}}
                    </td>
                    <td  data-col-group="total_hf">{{ form_widget(tag.r51221) }}</td>
                    <td  data-col-group="total_hf">{{ form_widget(tag.r51222) }}</td>
                    <td class="filiTable" data-col-id="total_hf">{{ total_hf }}</td>

                </tr>

            {% endfor %}

            <tr id="totalGlo" class="filiTable row_totaux" >
                {% set total_ind = bilan_social_consolide.getIndPileForBy('ind5122s') %}
                {% set total_h = total_ind.r51221 %}
                {% set total_f = total_ind.r51222 %}
                <td><b>Total</b></td>
                <td style="text-align: center" data-col-group="lineTotr5121">{{ total_ind.r51221 }}</td>
                <td style="text-align: center" data-col-group="lineTotr5121">{{total_ind.r51222}}</td>
                <td style="text-align: center" data-col-id='lineTotr5121'>{{total_h + total_f}}</td>

            </tr>

            </tbody>
        </table>

        <br/>

        <h5>5.1.2 (2) - Journées de formation suivies par les agents sur un emploi non permanent au cours de l'année {{AnneeCamp}}</h5>

        <table width="100%" id="ind5121Table" class="table table-striped table-hover table-bordered">
            <thead>
                <tr entete="1">
                    <th rowspan="4"></th>
                    <th style="text-align: center" colspan="6">Nombre total de journées de formation dispensées par</th>
                    <th style="text-align: center" colspan="4">Nombre d'agents occupant un emploi non permanent ayant participé à au moins une action de formation dans l'année</th>
                </tr>

                <tr entete="1">
                    <th style="text-align: center">CNFPT</th>
                    <th style="text-align: center">CNFPT</th>
                    <th rowspan="2" style="text-align: center">Collectivité</th>
                    <th rowspan="2" style="text-align: center">Autres  organismes</th>
                    <th rowspan="2" style="text-align: center">Total</th>
                    <th rowspan="2" style="text-align: center">dont CPF (Compte Personnel de Formation)</th>
                    <th rowspan="2" style="text-align: center">Hommes</th>
                    <th rowspan="2" style="text-align: center">Femmes</th>
                    <th rowspan="2" style="text-align: center">Total</th>
                    <th rowspan="2" style="text-align: center">dont CPF</th>

                </tr>
                <tr entete="1">
                    <th>au titre de la cotisation obligatoire</th>
                    <th>au delà de la cotisation obligatoire</th>
                </tr>
                <tr entete="1">
                    <th>5.1.2(1)</th>
                    <th>5.1.2(2)</th>
                    <th>5.1.2(3)</th>
                    <th>5.1.2(4)</th>
                    <th>5.1.2(5)</th>
                    <th>5.1.2(6)</th>
                    <th>5.1.2(7)</th>
                    <th>5.1.2(8)</th>
                    <th>5.1.2(9)</th>
                    <th>5.1.2(10)</th>
                </tr>
            </thead>
            <tbody>

            {% for tag in formFormation512.ind5121s %}

                <tr id="5121idTr_{{tag.refEmploiNonPermanent.vars.value}}">
                    <td style="min-width: 200px; text-align: center">
                        {{ form_widget(tag.refEmploiNonPermanent) }}
                        {{ tag.refEmploiNonPermanent.vars.data.lbEmplnonperm}}
                    </td>
                    <td id="r51211">{{ form_widget(tag.r51211) }}</td>
                    <td id="r51212">{{ form_widget(tag.r51212) }}</td>
                    <td id="r51213">{{ form_widget(tag.r51213) }}</td>
                    <td id="r51214">{{ form_widget(tag.r51214) }}</td>
                    <td class="filiTable" id="lineTot1" style="text-align: center">0</td>
                    <td id="r51215">{{ form_widget(tag.r51215) }}</td>
                    <td id="r51216">{{ form_widget(tag.r51216) }}</td>
                    <td id="r51217">{{ form_widget(tag.r51217) }}</td>
                    <td class="filiTable" id="lineTot2" style="text-align: center">0</td>
                    <td id="r51218">{{ form_widget(tag.r51218) }}</td>
                </tr>

            {% endfor %}

            <tr id="totalGlo" class="filiTable" >
                <td><b>TOTAL Tous types</b> </td>
                <td style="text-align: center">0</td>
                <td style="text-align: center">0</td>
                <td style="text-align: center">0</td>
                <td style="text-align: center">0</td>
                <td style="text-align: center">0</td>
                <td style="text-align: center">0</td>
                <td style="text-align: center">0</td>
                <td style="text-align: center">0</td>
                <td style="text-align: center">0</td>
                <td style="text-align: center">0</td>
            </tr>


            </tbody>
        </table>


        <br/>
        A compter de la promulgation de la loi portant création des emplois d’avenir, les actions de formation destinées aux personnes bénéficiant d’un contrat conclu au titre de l’article L. 5134-110 du code du travail dans les collectivités territoriales ou leurs établissements publics sont financées, pour tout ou partie, au moyen de la cotisation obligatoire versée par les collectivités territoriales et leurs établissements publics, en application du 1° de l’article 12-2 de la loi n° 84-53 du 26 janvier 1984 portant dispositions statutaires relatives à la fonction publique territoriale, ainsi que par une cotisation obligatoire assise sur les rémunérations des bénéficiaires des contrats conclus au titre de l’article L. 5134-110 du code du travail dont le taux est fixé par décret. Cette disposition ne sera applicable qu’à compter du 1er janvier 2013. Une convention annuelle d’objectifs et de moyens, conclue entre l’État et le centre national de la fonction publique territoriale, viendra définir les modalités de mise en œuvre. Référence : articles 2 et 14 de loi n°2012-X portant création des emplois d’avenir.
        <br/>

        <input class="btn button-tableau pull-right" type="submit" value="Enregistrer et valider les contrôles de cohérence" name="valider" onclick="recordAuto = false;
                $('#progImg').show();" data-valide="1" />

        <img id="progImg" src="{{ asset("img/progress.gif") }}" style="display:none"/>

        {{ form_end(formFormation512) }}

        <script type="text/javascript">

            $(document).ready(function ()
            {
                {% include 'stickyheader.txt' %}
                getBrowserSetSticky(ind5121Table);
                getBrowserSetSticky(ind5122Table);
                
                changeDetect = false;
                $(document).change();
                // update5121();
                // update5122();
            });

            function changedR5121(obj) {
                // update5121(false);
            }

            // function update5121(onInit) {
            //     var table5121 = document.getElementById('ind5121Table');
            //
            //     var rowLength5121 = table5121.rows.length;
            //     var idxRowInput = 0;
            //
            //     var mtTot1 = 0;
            //     var mtTot2 = 0;
            //     var mtTot3 = 0;
            //     var mtTot4 = 0;
            //     var mtTot5 = 0;
            //     var mtTot6 = 0;
            //     var mtTot7 = 0;
            //     var mtTot8 = 0;
            //
            //     var mtTot1Glo = 0;
            //     var mtTot2Glo = 0;
            //     var mtTot3Glo = 0;
            //     var mtTot4Glo = 0;
            //     var mtTot5Glo = 0;
            //     var mtTot6Glo = 0;
            //     var mtTot7Glo = 0;
            //     var mtTot8Glo = 0;
            //
            //
            //     for (var i = 0; i < rowLength5121; i += 1) {
            //         var row = table5121.rows[i];
            //
            //         if(row.getAttribute("entete") != undefined && row.getAttribute("entete") == "1") {
            //             continue;
            //         }
            //
            //         var cellLength = row.cells.length;
            //
            //         var lineTot1 = 0;
            //         var lineTot2 = 0;
            //
            //         if (row.id.substring(0, 8) == "totalGlo") {
            //
            //             for (var y = 0; y < cellLength; y += 1) {
            //                 var cell = row.cells[y];
            //                 if (y == 1) {
            //                     cell.innerHTML = mtTot1Glo;
            //                     lineTot1 += mtTot1Glo;
            //                     mtTot1Glo = 0;
            //                 } else if (y == 2) {
            //                     cell.innerHTML = mtTot2Glo;
            //                     lineTot1 += mtTot2Glo;
            //                     mtTot2Glo = 0;
            //                 } else if (y == 3) {
            //                     cell.innerHTML = mtTot3Glo;
            //                     lineTot1 += mtTot3Glo;
            //                     mtTot3Glo = 0;
            //                 } else if (y == 4) {
            //                     cell.innerHTML = mtTot4Glo;
            //                     lineTot1 += mtTot4Glo;
            //                     mtTot4Glo = 0;
            //                 } else if (y == 5) {
            //                     cell.innerHTML = lineTot1;
            //                 } else if (y == 6) {
            //                     cell.innerHTML = mtTot5Glo;
            //                     mtTot5Glo = 0;
            //                 } else if (y == 7) {
            //                     cell.innerHTML = mtTot6Glo;
            //                     lineTot2 += mtTot6Glo;
            //                     mtTot6Glo = 0;
            //                 } else if (y == 8) {
            //                     cell.innerHTML = mtTot7Glo;
            //                     lineTot2 += mtTot7Glo;
            //                     mtTot7Glo = 0;
            //                 } else if (y == 9) {
            //                     cell.innerHTML = lineTot2;
            //                 } else if (y == 10) {
            //                     cell.innerHTML = mtTot8Glo;
            //                     mtTot8Glo = 0;
            //                 }
            //             }
            //         }
            //
            //         lineTot1 = 0;
            //         lineTot2 = 0;
            //
            //         for (var y = 0; y < cellLength; y += 1) {
            //             var cell = row.cells[y];
            //             var cellValue;
            //
            //             if (cell.id.substring(0, 6) == "r51211") {
            //                 cellValue = $('#bscForm_ind5121s_' + idxRowInput + '_r51211').val();
            //                 if (cellValue != "") {
            //                     cellValue = parseInt(cellValue);
            //                     mtTot1 += cellValue;
            //                     lineTot1 += cellValue;
            //                     mtTot1Glo += cellValue;
            //                 }
            //             } else if (cell.id.substring(0, 6) == "r51212") {
            //                 cellValue = $('#bscForm_ind5121s_' + idxRowInput + '_r51212').val();
            //                 if (cellValue != "") {
            //                     cellValue = parseInt(cellValue);
            //                     mtTot2 += cellValue;
            //                     lineTot1 += cellValue;
            //                     mtTot2Glo += cellValue;
            //                 }
            //             } else if (cell.id.substring(0, 6) == "r51213") {
            //                 cellValue = $('#bscForm_ind5121s_' + idxRowInput + '_r51213').val();
            //                 if (cellValue != "") {
            //                     cellValue = parseInt(cellValue);
            //                     mtTot3 += cellValue;
            //                     lineTot1 += cellValue;
            //                     mtTot3Glo += cellValue;
            //                 }
            //             } else if (cell.id.substring(0, 6) == "r51214") {
            //                 cellValue = $('#bscForm_ind5121s_' + idxRowInput + '_r51214').val();
            //                 if (cellValue != "") {
            //                     cellValue = parseInt(cellValue);
            //                     mtTot4 += cellValue;
            //                     lineTot1 += cellValue;
            //                     mtTot4Glo += cellValue;
            //                 }
            //             } else if (cell.id.substring(0, 8) == "lineTot1") {
            //                 cell.innerHTML = lineTot1;
            //             } else if (cell.id.substring(0, 6) == "r51215") {
            //                 cellValue = $('#bscForm_ind5121s_' + idxRowInput + '_r51215').val();
            //                 if (cellValue != "") {
            //                     cellValue = parseInt(cellValue);
            //                     mtTot5 += cellValue;
            //                     mtTot5Glo += cellValue;
            //                 }
            //             } else if (cell.id.substring(0, 6) == "r51216") {
            //                 cellValue = $('#bscForm_ind5121s_' + idxRowInput + '_r51216').val();
            //                 if (cellValue != "") {
            //                     cellValue = parseInt(cellValue);
            //                     mtTot6 += cellValue;
            //                     lineTot2 += cellValue;
            //                     mtTot6Glo += cellValue;
            //                 }
            //             } else if (cell.id.substring(0, 6) == "r51217") {
            //                 cellValue = $('#bscForm_ind5121s_' + idxRowInput + '_r51217').val();
            //                 if (cellValue != "") {
            //                     cellValue = parseInt(cellValue);
            //                     mtTot7 += cellValue;
            //                     lineTot2 += cellValue;
            //                     mtTot7Glo += cellValue;
            //                 }
            //             } else if (cell.id.substring(0, 8) == "lineTot2") {
            //                 cell.innerHTML = lineTot2;
            //             } else if (cell.id.substring(0, 6) == "r51218") {
            //                 cellValue = $('#bscForm_ind5121s_' + idxRowInput + '_r51218').val();
            //                 if (cellValue != "") {
            //                     cellValue = parseInt(cellValue);
            //                     mtTot8 += cellValue;
            //                     mtTot8Glo += cellValue;
            //                 }
            //             }
            //         }
            //
            //         idxRowInput++;
            //     }// end for line

            // }


            function changedR5122(obj) {
                // update5122(false);
            }


            // function update5122(onInit) {
            //     var table5122 = document.getElementById('ind5122Table');
            //
            //     var rowLength5122 = table5122.rows.length;
            //     var idxRowInput = 0;
            //
            //     var mtTot1 = 0;
            //     var mtTot2 = 0;
            //
            //     var mtTot1Glo = 0;
            //     var mtTot2Glo = 0;
            //
            //     for (var i = 0; i < rowLength5122; i += 1) {
            //         var row = table5122.rows[i];
            //
            //         if(row.getAttribute("entete") != undefined && row.getAttribute("entete") == "1") {
            //             continue;
            //         }
            //
            //         var cellLength = row.cells.length;
            //
            //         if (row.id.substring(0, 8) == "totalGlo") {
            //
            //             for (var y = 0; y < cellLength; y += 1) {
            //                 var cell = row.cells[y];
            //                 if (y == 1) {
            //                     cell.innerHTML = mtTot1Glo;
            //                     mtTot1Glo = 0;
            //                 } else if (y == 2) {
            //                     cell.innerHTML = mtTot2Glo;
            //                     mtTot2Glo = 0;
            //                 }
            //             }
            //         }
            //
            //         for (var y = 0; y < cellLength; y += 1) {
            //             var cell = row.cells[y];
            //             var cellValue;
            //
            //             if (cell.id.substring(0, 6) == "r51221") {
            //                 cellValue = $('#bscForm_ind5122s_' + idxRowInput + '_r51221').val();
            //                 if (cellValue != "") {
            //                     cellValue = parseInt(cellValue);
            //                     mtTot1 += cellValue;
            //                     mtTot1Glo += cellValue;
            //                 }
            //             } else if (cell.id.substring(0, 6) == "r51222") {
            //                 cellValue = $('#bscForm_ind5122s_' + idxRowInput + '_r51222').val();
            //                 if (cellValue != "") {
            //                     cellValue = parseInt(cellValue);
            //                     mtTot2 += cellValue;
            //                     mtTot2Glo += cellValue;
            //                 }
            //             }
            //         }
            //
            //         idxRowInput++;
            //     }// end for line
            //
            // }


            /*
             * METHODE AJAX SUBMIT
             */
            $(function () {
                // Enregistrement en ajax
                $('form').on('submit', function (e) {
                    var $this = $(this).closest('div');
                    var btn = $(this).find("input[type=submit]:focus");
                    var value_valide = $(btn).data('valide');
                    $('#bscForm_valide').val(value_valide);
                    // Submit en ajax pour le fonctionnement d'appel par onglet
                    e.preventDefault();

                    $.ajax({
                        type: 'post',
                        url: '{{ path('bilan_conso_formation_ind512_edit') }}',
                        data: $('form').serialize(),
                        success: function (responsejson) {

                            if (responsejson.data == 1) {
                                if (recordAuto) {
                                    $('#progImg').hide();
                                    $('#messageJS').html("Enregistrement automatique réussi");
                                    messageJS.dialog("open");
                                    setIncoherenceTable(responsejson);
                                } else {
                                    $('#ind512').load('{{ path('bilan_conso_formation_ind512_edit') }}', function () {
                                        $('#progImg').hide();
                                        $('#messageJS').html("Enregistrement réussi");
                                        messageJS.dialog("open");
                                        setIncoherenceTable(responsejson);

                                        var next = $($this).next('.panel-heading');
                                        if(next.length == 0) {
                                            window.location.href = '{{ path('bilan_conso_droit_edit') }}';
                                        }
                                    });
                                }
                            } else if (responsejson.data == "-3") {
                                $('#progImg').hide();
                                $('#messageJS').html("{{'erreur.unique.violation'|trans}}");
                                messageJS.dialog("open");
                            } else {
                                $('#progImg').hide();
                                $('#messageJS').html("Une erreur s'est produite dans l'enregistrement 1");
                                messageJS.dialog("open");
                            }
                        },
                        error: function (xhr, status, error) {
                            //alert(xhr);
                            $('#progImg').hide();
                            $('#messageJS').html("Une erreur s'est produite dans l'enregistrement 2 ");
                            messageJS.dialog("open");
                        }
                    });
                });
            });



        </script>
    {% endif %}
