
    {% if formRassctBscRassctNbAccidentTravail is defined %}

        {% set campagne = campagne_service.GetCurrentCampagne() %}
        {% set AnneeCamp = '' %}
        {% if campagne is not null %}
            {% set AnneeCamp = campagne.nmAnne %}
        {% endif %}

        {{ form_start(formRassctBscRassctNbAccidentTravail) }}

            <table width="100%" id="bscRassctNbAccidentTravailTable" class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Type d'activités</th>
                        <th style="text-align: center">Nbre d'accidents survenus en {{AnneeCamp}}</th>
                        <th class="filiTable" style="text-align: center">Nbre d'accidents en %</th>
                        <th style="text-align: center">Nbre jours d'arrêt en {{AnneeCamp}} pour les accidents survenus en {{AnneeCamp}} et avant</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in formRassctBscRassctNbAccidentTravail.bscRassctNbAccidentTravails %}
                    <tr>
                        <td style="min-width: 400px">
                            {{ form_widget(tag.refTypeActivite) }}
                            {{ tag.refTypeActivite.vars.data.lbTypeActi}}
                        </td>

                       <td>
                             {{ form_row(tag.rNbAccidentsSurvenus) }}
                        </td>
                        <td class="pourcent filiTable">0</td>
                        <td>
                             {{ form_row(tag.rNbJourArretAccidents )}}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="filiTable" id="total">
                        <th class="filiTable" style="text-align: center">Total</th>
                        <th class="rNbAccidentsSurvenusTotal" style="text-align: center">0</th>
                        <th></th>
                        <th class="rNbJourArretAccidentsTotal" style="text-align: center">0</th>
                    </tr>
                </tbody>
            </table>

            <br/>

            <input class="btn button-tableau pull-right" type="submit" value="Enregistrer et valider les contrôles de cohérence" name="valider" onclick="recordAuto = false;
                    $('#progImg').show();" data-valide="1" />

            <img id="progImg" src="{{ asset("img/progress.gif") }}" style="display:none"/>

        {{ form_end(formRassctBscRassctNbAccidentTravail) }}

        <script type="text/javascript">

        $(document).ready(function ()
        {
            totColumn('rNbAccidentsSurvenus', 'rNbAccidentsSurvenusTotal');
            totColumn('rNbJourArretAccidents', 'rNbJourArretAccidentsTotal');
            changeDetect = false;
            {% include 'stickyheader.txt' %}
            getBrowserSetSticky(bscRassctNbAccidentTravailTable);
            
            $(document).change();
            roundToDecimal();
            getPourcent("bscRassctNbAccidentTravailTable", "rNbAccidentsSurvenus", "pourcent");
        });

        function changedR224(obj) {
            roundToDecimal();
            getPourcent("bscRassctNbAccidentTravailTable", "rNbAccidentsSurvenus", "pourcent");
            totColumn('rNbAccidentsSurvenus', 'rNbAccidentsSurvenusTotal');
            totColumn('rNbJourArretAccidents', 'rNbJourArretAccidentsTotal');
        }

        /*
         * METHODE AJAX SUBMIT
         */
        $(function () {
            // Enregistrement en ajax
            $('form').on('submit', function (e) {
                var $this = $(this).closest('div');
                var btn = $(this).find("input[type=submit]:focus");
                var value_valide = $(btn).data('valide');
                $('#bscFormRassctNbAccidentTravail_valide').val(value_valide);
                // Submit en ajax pour le fonctionnement d'appel par onglet
                e.preventDefault();

                $.ajax({
                    type: 'post',
                    url: '{{ path('bilan_conso_rassct_bscRassctNbAccidentTravails_edit') }}',
                    data: $('form').serialize(),
                    success: function (responsejson) {

                        if (responsejson.data == 1) {
                            if (recordAuto) {
                                $('#progImg').hide();
                                $('#messageJS').html("Enregistrement automatique réussi");
                                messageJS.dialog("open");
                                setIncoherenceTable(responsejson);
                            } else {
                                $('#nb_accident_travail').load('{{ path('bilan_conso_rassct_bscRassctNbAccidentTravails_edit') }}', function () {
                                    $('#progImg').hide();
                                    $('#messageJS').html("Enregistrement réussi");
                                    messageJS.dialog("open");
                                    setIncoherenceTable(responsejson);

                                    var next = $($this).next('.panel-heading');
                                    if(next.length == 0) {
                                        if (blHand == true) {
                                            window.location.href = '{{ path('bilan_conso_handitorial_edit') }}';
                                        } else if (blGpeec == true) {
                                            window.location.href = '{{ path('bilan_conso_gpeec_edit') }}';
                                        }
                                    }
                                });

                            }
                        } else if (responsejson.data == "-3") {
                            $('#progImg').hide();
                            $('#messageJS').html("{{'erreur.unique.violation'|trans}}");
                            messageJS.dialog("open");
                        } else {
                            $('#progImg').hide();
                            $('#messageJS').html("Une erreur s'est produite dans l'enregistrement 1");
                            messageJS.dialog("open");
                        }


                    },
                    error: function (xhr, status, error) {
                        //alert(xhr);
                        $('#progImg').hide();
                        $('#messageJS').html("Une erreur s'est produite dans l'enregistrement 2 ");
                        messageJS.dialog("open");
                    }

                });

            });

        });

        </script>
    {% endif %}


