
    {% if formHanditorialQuestionsGenerales is defined %}

            {% set campagne = campagne_service.GetCurrentCampagne() %}
            {% set AnneeCamp = '' %}
            {% if campagne is not null %}
                {% set AnneeCamp = campagne.nmAnne %}
            {% endif %}

        {{ form_start(formHanditorialQuestionsGenerales) }}

        <table width="100%" id="bscHanditorialQuestionsGeneralesTable" class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th style="text-align: center">Libellés</th>
                    <th style="text-align: center">Réponses</th>
                </tr>
            </thead>
            <tbody>
                <tr id="idTrA17">
                    <td style="min-width: 500px">
                        A1-7 - Mail du correspondant Handicap
                    </td>
                    <td>{{ form_widget(formHanditorialQuestionsGenerales.bscHanditorialQuestionsGenerales.qA17) }}</td>
                </tr>
                <tr id="idTr1">
                        <td style="min-width: 500px">
                            A3 - Au 31/12 de l'année {{AnneeCamp}}, votre collectivité était-elle soumise à l'obligation d'emploi de travailleurs handicapés ?
                            <span style="cursor: pointer" class="glyphicon glyphicon-question-sign" data-toggle="modal" alt="Cliquer pour plus d'information" title="Cliquer pour plus d'information" data-target="#qA3Handitorial" aria-hidden="true"></span>
                        </td>
                        <td>{{ form_widget(formHanditorialQuestionsGenerales.bscHanditorialQuestionsGenerales.qA3) }}</td>
                    </tr>
                
            </tbody>
        </table>

        <br />

        <input class="btn button-tableau pull-right" type="submit" value="Enregistrer et valider les contrôles de cohérence" name="valider" onclick="recordAuto = false;
                $('#progImg').show();" data-valide="1" />

        <img id="progImg" src="{{ asset("img/progress.gif") }}" style="display: none"/>

        {{ form_end(formHanditorialQuestionsGenerales) }}

        <script type="text/javascript">

        $(document).ready(function ()
        {
            changeDetect = false;
            $(document).change();

            /*initRadio("bscFormHanditorialQuestionsGenerales[bscHanditorialQuestionsGenerales][qA6]", "rA61", "bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_rA61");
            initRadio("bscFormHanditorialQuestionsGenerales[bscHanditorialQuestionsGenerales][qA7]", "rA71", "bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_rA71");
            initRadio("bscFormHanditorialQuestionsGenerales[bscHanditorialQuestionsGenerales][qA8]", "rA81", "bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_rA81");

            $('input[name="bscFormHanditorialQuestionsGenerales[bscHanditorialQuestionsGenerales][qA6]"]').on('click', function() {
                initRadio("bscFormHanditorialQuestionsGenerales[bscHanditorialQuestionsGenerales][qA6]", "rA61", "bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_rA61");
                initRadio("bscFormHanditorialQuestionsGenerales[bscHanditorialQuestionsGenerales][qA6]", "qA62", "bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_qA62");
            });

            $('#bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_qA7').on('click', function() {
                initRadio("bscFormHanditorialQuestionsGenerales[bscHanditorialQuestionsGenerales][qA7]", "rA71", "bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_rA71");
                initRadio("bscFormHanditorialQuestionsGenerales[bscHanditorialQuestionsGenerales][qA7]", "qA72", "bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_qA72");
            });

            $('#bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_qA8').on('click', function() {
                initRadio("bscFormHanditorialQuestionsGenerales[bscHanditorialQuestionsGenerales][qA8]", "rA81", "bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_rA81");
                initRadio("bscFormHanditorialQuestionsGenerales[bscHanditorialQuestionsGenerales][qA8]", "qA82", "bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_qA82");
            });



            initNumber("bscFormHanditorialQuestionsGenerales[bscHanditorialQuestionsGenerales][rA9]", "rA91", "bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_rA91");
            initNumber("bscFormHanditorialQuestionsGenerales[bscHanditorialQuestionsGenerales][rA10]", "rA101", "bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_rA101");

            $('#bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_rA9').on('change', function() {
                initNumber("bscFormHanditorialQuestionsGenerales[bscHanditorialQuestionsGenerales][rA9]", "rA91", "bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_rA91");
            });

            $('#bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_rA10').on('change', function() {
                initNumber("bscFormHanditorialQuestionsGenerales[bscHanditorialQuestionsGenerales][rA10]", "rA101", "bscFormHanditorialQuestionsGenerales_bscHanditorialQuestionsGenerales_rA101");
            });*/
        });

        function initRadio(nameInput, divToShow, inputValue) {
            var qA6 = $('input[name="'+nameInput+'"]').filter(':checked').val();
            if (qA6 == "1") {
                $('#' + divToShow).show();
            } else {
                $('#' + divToShow).hide();
                $('#' + inputValue).val('0');
            }
        }

        function initNumber(nameInput, divToShow, inputValue) {
            var qA9 = $('input[name="'+nameInput+'"]').val();
            if(qA9 == '' || qA9 == '0') {
                $('#' + divToShow).hide();
                $('#' + inputValue).val('0');
            } else {
                $('#' + divToShow).show();
            }
        }


        /*
         * METHODE AJAX SUBMIT
         */
        $(function () {
            // Enregistrement en ajax
            $('form').on('submit', function (e) {
                var $this = $(this).closest('div');
                var btn = $(this).find("input[type=submit]:focus");
                var value_valide = $(btn).data('valide');
                var regex = /\,(?!\s*?[\{\[\"\'\w])/g;
                $('#bscFormHanditorialQuestionsGenerales_valide').val(value_valide);
                // Submit en ajax pour le fonctionnement d'appel par onglet
                e.preventDefault();

                $.ajax({
                    type: 'post',
                    url: '{{ path('bilan_conso_handitorial_bscHanditorialQuestionsGenerales_edit') }}',
                    data: $('form').serialize(),
                    success: function (responsejson) {

                        // console.log(responsejson);
                        if (responsejson.data == 1) {
                            if (recordAuto) {
                                $('#progImg').hide();
                                $('#messageJS').html("Enregistrement automatique réussi");
                                messageJS.dialog("open");
                                setIncoherenceTable(responsejson);
                            } else {
                                $('#questions_generales').load('{{ path('bilan_conso_handitorial_bscHanditorialQuestionsGenerales_edit') }}', function () {
                                    $('#progImg').hide();
                                    $('#messageJS').html("Enregistrement réussi");
                                    messageJS.dialog("open");
                                    setIncoherenceTable(responsejson);

                                    var next = $($this).next('.panel-heading');
                                    if(next.length == 0) {
                                        if (blGpeec == true) {
                                            window.location.href = '{{ path('bilan_conso_gpeec_edit') }}';
                                        }
                                    }
                                });

                            }
                        } else if (responsejson.data == "-3") {
                            $('#progImg').hide();
                            $('#messageJS').html("{{'erreur.unique.violation'|trans}}");
                            messageJS.dialog("open");
                        } else {
                            $('#progImg').hide();
                            $('#messageJS').html("Une erreur s'est produite dans l'enregistrement 1");
                            messageJS.dialog("open");
                        }


                    },
                    error: function (xhr, status, error) {
                        //alert(xhr);
                        $('#progImg').hide();
                        $('#messageJS').html("Une erreur s'est produite dans l'enregistrement 2 ");
                        messageJS.dialog("open");
                    }

                });

            });

        });

        </script>
    {% endif %}

