{% set campagne = campagne_service.GetCurrentCampagne() %}
    {% set AnneeCamp = '' %}
    {% if campagne is not null %}
        {% set AnneeCamp = campagne.nmAnne %}
    {% endif %}
{% if formTpsTrav215 is defined %}

    {{ form_start(formTpsTrav215) }}

    <h5>
        Champ : le tableau qui suit concerne les fonctionnaires et contractuels sur emploi permanent ayant bénéficié d'un congé de présence parentale au cours de l'année {{ AnneeCamp }}.
    </h5>
    <p>Remarque: si un agent a été absent sur plusieurs périodes dans l'année, ne le compter qu'une seule fois.</p>

    <table width="100%" id="ind215Table" class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Catégorie</th>
            <th style="text-align: center" class="nbAgents">
                Nombre d'agents
                <br/>
{#                <span class="alerteConso">Total paternité = {{ total21X1 }}</span>#}
            </th>
            <th style="text-align: center" class="nmTotJourAbs">
                Nombre total de journées d'absence au titre du congé de présence parentale
                <br/>
{#                <span class="alerteConso">Total paternité = {{ total21X2 }}</span>#}
            </th>
        </tr>
        </thead>
        <tbody>

        {% for tag in formTpsTrav215.ind215s %}
            <tr id="215idTr_{{tag.refCategorie.vars.value}}">

                <td style="min-width: 300px">
                    {{ form_widget(tag.refCategorie) }}
                    {{ tag.refCategorie.vars.data.lbCate}}
                </td>

                <td id="r2151" class="nbAgents">{{ form_widget(tag.r2151) }}</td>
                <td id="r2152" class="nmTotJourAbs">{{ form_widget(tag.r2152) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br/>


    <input class="btn button-tableau pull-right" type="submit" value="Enregistrer et valider les contrôles de cohérence" name="valider" onclick="recordAuto = false;
                $('#progImg').show();" data-valide="1" />

    <img id="progImg" src="{{ asset("img/progress.gif") }}" style="display:none"/>

    {{ form_end(formTpsTrav215) }}

<script type="text/javascript">

    $(document).ready(function ()
    {   changeDetect = false;
        $(document).change();
    });


    function changedR215(obj) {
    }


    /*
     * METHODE AJAX SUBMIT
     */
    $(function () {
        // Enregistrement en ajax
        $('form').on('submit', function (e) {
            var $this = $(this).closest('div');
            var btn = $(this).find("input[type=submit]:focus");
            var value_valide = $(btn).data('valide');
            $('#bscForm215_valide').val(value_valide);
            // Submit en ajax pour le fonctionnement d'appel par onglet
            e.preventDefault();

            $.ajax({
                type: 'post',
                url: '{{ path('bilan_conso_tpstrav_ind215_edit') }}',
                data: $('form').serialize(),
            success: function (responsejson) {
                if (responsejson.data == 1) {
                    if (recordAuto) {
                        $('#progImg').hide();
                        $('#messageJS').html("Enregistrement automatique réussi");
                        messageJS.dialog("open");
                        setIncoherenceTable(responsejson);
                    } else {
                        $('#ind215').load('{{ path('bilan_conso_tpstrav_ind215_edit') }}', function () {
                            $('#progImg').hide();
                            $('#messageJS').html("Enregistrement réussi");
                            messageJS.dialog("open");
                            setIncoherenceTable(responsejson);

                            var next = $($this).next('.panel-heading');
                            if(next.length == 0) {
                                window.location.href = '{{ path('bilan_conso_remuneration_edit') }}';
                            }
                        });

                    }
                } else if (responsejson.data == "-3") {
                    $('#progImg').hide();
                    $('#messageJS').html("{{'erreur.unique.violation'|trans}}");
                    messageJS.dialog("open");
                } else {
                    $('#progImg').hide();
                    $('#messageJS').html("Une erreur s'est produite dans l'enregistrement 1");
                    messageJS.dialog("open");
                }


            },
            error: function (xhr, status, error) {
                //alert(xhr);
                $('#progImg').hide();
                $('#messageJS').html("Une erreur s'est produite dans l'enregistrement 2 ");
                messageJS.dialog("open");
            }

        });

        });

    });

</script>

{% endif %}
