{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="col-lg-9" >
        <a class="btn button pull-right margin10" href="{{ path('reftypecdd_index') }}">Retour à la liste</a>

        <table class="table table-striped"
               <tbody>
                <tr>
                    <th>Code</th>
                    <td>{{ refTypeCdd.cdTypecdd }}</td>
                </tr>
                <tr>
                    <th>Libellé</th>
                    <td>{{ refTypeCdd.lbTypeCdd }}</td>
                </tr>
                <tr>
                    <th>Archivé</th>
                    <td>{% if refTypeCdd.blVali %}Oui{% else %}Non{% endif %}</td>
                </tr>
                {% include '@Referenciel/showRefSharedFieldsLayout.html.twig' with {'ref':refTypeCdd} %}
            </tbody>
        </table>


        <a class="btn button pull-right margin10" href="{{ path('reftypecdd_edit', { 'idTypeCdd': refTypeCdd.idTypeCdd }) }}">Modifier</a>

        {{ form_start(delete_form) }}
        
        {{ form_end(delete_form) }}



        </ul>
    {% endblock %}

