{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="col-lg-9" >
        <a class="btn button pull-right margin10" href="{{ path('refcontraintetravail_index') }}">Retour à la liste</a>

        <table class="table table-striped"
               <tbody>
                <tr>
                    <th>Code</th>
                    <td>{{ refContrainteTravail.cdConttrav }}</td>
                </tr>
                <tr>
                    <th>Libellé</th>
                    <td>{{ refContrainteTravail.lbConttrav }}</td>
                </tr>
                <tr>
                    <th>Archivé</th>
                    <td>{% if refContrainteTravail.blVali %}Oui{% else %}Non{% endif %}</td>
                </tr>
                {% include '@Referenciel/showRefSharedFieldsLayout.html.twig' with {'ref':refContrainteTravail} %}
            </tbody>
        </table>


        <a class="btn button pull-right margin10" href="{{ path('refcontraintetravail_edit', { 'idConttrav': refContrainteTravail.idConttrav }) }}">Modifier</a>

        {{ form_start(delete_form) }}
        
        {{ form_end(delete_form) }}

    </div>
{% endblock %}
