{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="col-lg-9" >
        <h1>Liste des actes de violence physique</h1>
        <div class="clearfix">
            <a class="btn button pull-right margin10" href="{{ path('refacteviolencephysique_new') }}">Ajouter une donnée au référentiel</a>
            <a class="btn button pull-right margin10" href="{{ path('csv_export_acteviolencephysique') }}">export csv</a>
            <a class="btn button margin10" href="{{ path('referenciel_homepage') }}">Retour à la liste des référentiels</a>
        </div>
        <table class="table table-striped" id="index">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>libellé</th>
                    <th>Archivé</th>
                    {% include '@Referenciel/indexListRefSharedFieldsTheadLayout.html.twig' %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for refActeViolencePhysique in refActeViolencePhysiques %}
                    <tr>
                        <td><a href="{{ path('refacteviolencephysique_show', { 'idActeviolphys': refActeViolencePhysique.idActeviolphys }) }}">{{ refActeViolencePhysique.cdActviolphys }}</a></td>
                        <td>{{ refActeViolencePhysique.lbActviolphys }}</td>
                        {% include '@Referenciel/indexListRefSharedFieldsTbodyLayout.html.twig' with {'ref':refActeViolencePhysique} %}
                        <td>{{ refActeViolencePhysique.nmOrdre }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('refacteviolencephysique_show', { 'idActeviolphys': refActeViolencePhysique.idActeviolphys }) }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="{{ path('refacteviolencephysique_edit', { 'idActeviolphys': refActeViolencePhysique.idActeviolphys }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>




    </div>
{% endblock %}
