{% extends '@Referenciel/layout.html.twig' %}

{% block body %}
    {{parent()}}
    <div class="col-lg-9" >
        <div class='clearfix margin10'>
            <a class="btn button pull-right" href="{{ path('refsanctiondisciplinaire_index') }}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Retour à la liste</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Modification sanction disciplinaire</h3>
            </div>
            <div class="panel-body">
                {{ form_start(edit_form) }}
                {{ form_row(edit_form.cdSancdisc , {'attr': {'readonly': 'true' }}) }}
                {{ form_row(edit_form.lbSancdisc ) }}
                {{ form_row(edit_form.bl614G1) }}
                {{ form_row(edit_form.bl614G2) }}
                {{ form_row(edit_form.bl614G3) }}
                {{ form_row(edit_form.bl614G4) }}
                {{ form_row(edit_form.bl614G5) }}
                {{ form_row(edit_form.bl614G6) }}
                {{ form_row(edit_form.blVali) }}
                {{ form_rest(edit_form) }}
                <input class="btn button pull-right margin10" type="submit" value="Modifier" />
                {{ form_end(edit_form) }}


                {{ form_start(delete_form) }}
                
                {{ form_end(delete_form) }}

            </div>
        </div>
    </div>
{% endblock %}
