

<div class="modal fade" id="611" tabindex="-1" role="dialog" aria-labelledby="611" aria-hidden="true">
    <div class="modal-dialog autoSizeModal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="1103">Indicateur 611 de l'année {{ indicateur_precedent.annee }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background-color: #efefef">
                {% if indicateur_precedent.indicateur is empty %}
                    Aucunes valeurs n'étaient présentes pour l'année {{ indicateur_precedent.annee }}
                {% else %}
                    <table width="100%" id="ind611Table" class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th style="text-align: center"></th>
                            <th style="text-align: center">Nombre de réunions dans l'année {{AnneeCamp}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="idTr1">
                            <td style="min-width: 500px">du comité technique *</td>
                            <td>{{ indicateur_precedent.indicateur.0.R_6111 }}</td>
                        </tr>
                        <tr id="idTr2">
                            <td style="min-width: 500px">des commissions administratives paritaires</td>
                            <td>{{ indicateur_precedent.indicateur.0.R_6112 }}</td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>