<div class="modal fade" id="1311" tabindex="-1" role="dialog" aria-labelledby="131" aria-hidden="true">
    <div class="modal-dialog autoSizeModal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="1311">Indicateur 1311 de l'année {{ indicateur_precedent.annee }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" style="background-color: #efefef">
                {% if indicateur_precedent.indicateur is empty %}
                  Aucunes valeurs n'étaient présentes pour l'année {{ indicateur_precedent.annee }}
                {% else %}
                    <table width="100%" id="ind131Table" class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align: center"></th>

                                {% if questionCollectiviteConsolide.q6 == true  %}
                                <th colspan="3" style="text-align: center">Effectifs rémunérés au 31 décembre {{ indicateur_precedent.annee }}</th>
                                {% endif %}

                                <th style="text-align: center"></th>

                                {% if questionCollectiviteConsolide.q5 == true  %}
                                <th colspan="3" style="text-align: center">Effectifs ayant été rémunéré au moins un jour entre le 1er janvier {{ indicateur_precedent.annee }} et le 31 décembre {{ indicateur_precedent.annee }}</th>
                                {% endif %}

                            </tr>

                            <tr>
                                <th style="text-align: center"></th>

                                {% if questionCollectiviteConsolide.q6 == true  %}
                                <th style="text-align: center">Hommes 1.3.1(1.1)</th>
                                <th style="text-align: center">Femmes 1.3.1(1.2)</th>
                                <th class="filiTable" style="text-align: center">Total</th>
                                {% endif %}

                                <th style="text-align: center"></th>

                                {% if questionCollectiviteConsolide.q5 == true  %}
                                <th style="text-align: center">Hommes 1.3.1(1.3)</th>
                                <th style="text-align: center">Femmes 1.3.1(1.4)</th>
                                <th class="filiTable" style="text-align: center">Total</th>
                                {% endif %}

                            </tr>

                        </thead>
                        <tbody>
                        {% set total1 = 0%}
                        {% set total2 = 0%}

                        {% for tag in indicateur_precedent.indicateur %}
                            {% set total1 = tag.R_13112 + tag.R_13111 %}
                            {% set total2 = tag.R_13113 + tag.R_13114 %}
                            <tr>
                                <td id="emplTd" style="min-width: 200px">{{ tag.LB_EMPLNONPERM }}</td>

                                {% if questionCollectiviteConsolide.q6 == true  %}
                                <td id="r13111">{{ tag.R_13111 }}</td>
                                <td id="r13112">{{ tag.R_13112 }}</td>
                                <td class="filiTable" id="lineTot1" style="text-align: center">{{ total1 }}</td>
                                {% endif %}

                                <td></td>

                                {% if questionCollectiviteConsolide.q5 == true  %}
                                <td id="r13113">{{ tag.R_13113 }}</td>
                                <td id="r13114">{{ tag.R_13114 }}</td>
                                <td class="filiTable" id="lineTot2" style="text-align: center">{{ total2 }}</td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>